spring:
  application:
    name: permission-service

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5436}/${DB_NAME:permission_db}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate.jdbc.time_zone: UTC

  flyway:
    enabled: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${auth0.issuer}

auth0:
  issuer: ${AUTH0_ISSUER:https://TU-DOMINIO.us.auth0.com/}
  audience: ${AUTH0_AUDIENCE:https://snippetsearcher-api}

logging:
  level:
    com.snippetsearcher.permission: DEBUG
    org.springframework.security: INFO
management.endpoints.web.exposure.include: health,info
